/* =======================================================
                PROJECTS PAGE
======================================================= */

.projects-hero{
    padding:120px 0 70px;
    background:#f8f8f8;
    text-align:center;
}

.projects-hero h1{
    font-size:3rem;
    margin-bottom:20px;
    color:#222;
}

.projects-hero p{
    max-width:700px;
    margin:auto;
    color:#666;
    line-height:1.8;
    font-size:1.05rem;
}

.project-filter{
    padding:40px 0;
    text-align:center;
}

.filter-btn{

    border:none;

    padding:12px 28px;

    margin:10px;

    border-radius:50px;

    background:#efefef;

    cursor:pointer;

    font-size:15px;

    transition:.3s;

}

.filter-btn:hover{

    background:#c62828;

    color:white;

}

.filter-btn.active{

    background:#c62828;

    color:white;

}

.projects{

    padding:30px 0 100px;

}

.project-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:35px;

}

.project-card{

    background:white;

    border-radius:18px;

    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    transition:.35s;

}

.project-card:hover{

    transform:translateY(-10px);

}

.project-card img{

    width:100%;

    height:260px;

    object-fit:cover;

}

.project-content{

    padding:25px;

}

.project-content h3{

    font-size:24px;

    margin-bottom:10px;

}

.project-content p{

    color:#777;

    margin-bottom:20px;

}

.view-btn{

    background:#c62828;

    color:white;

    border:none;

    padding:12px 22px;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;

}

.view-btn:hover{

    background:black;

}

/* ================= MODAL ================= */

.project-modal{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.75);

    display:none;

    justify-content:center;

    align-items:center;

    z-index:99999;

}

.project-modal.active{

    display:flex;

}

.modal-box{

    width:90%;

    max-width:800px;

    background:white;

    border-radius:20px;

    padding:30px;

    position:relative;

}

.modal-box img{

    width:100%;

    border-radius:15px;

    margin-bottom:25px;

}

.close-modal{

    position:absolute;

    right:25px;

    top:20px;

    font-size:35px;

    cursor:pointer;

}

.modal-box h2{

    font-size:34px;

    margin-bottom:10px;

}

.modal-box p{

    color:#666;

    line-height:1.8;

}